
.headings {
  font-family: 'Oswald';
}

.nheadings {
  font-family: 'Open Sans';
}

body {
  color: darkblue;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: ivory;
}

.logos {
  float: left;
  margin-right: 10px;
}

.left {
  float: left;
  width: 300px;
  padding: 1em;
}

.center{
  margin-left: 300px;
  margin-right: 300px;
  padding: 1em;
  padding-right: 2em;
}


.right {
  float: right;
  width: 300px;
  padding: 1em;
  margin-top: -300px;
}

.h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

ul a {
  padding: 7em;
}
